.cover__subtitle {
    max-width: 360px;
    max-height: 66px;
    margin: auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    opacity:1;
    /*position: relative;
    top:427px;*/
}