.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    margin: auto;
    margin-top: 32px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}


@media screen and (max-width: 1023px) {
   .lead__subtitle {
      max-width: 83%;
   }
}

@media screen and (max-width: 767px) {
   .lead__subtitle {
      max-width: 90%;
      max-height: 40px;
      margin-top: 16px;
      font-size: 16px;
      line-height: 20px;
   }
}