.place__link {
    max-width: 465px;
    max-height: 22px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    margin-top: 12px;
}

.place__link:hover {
    opacity: .7;
}