.place__url-heading {
    max-width: 456px;
    min-height: 12px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    margin:0;
    color: #aaaaaa;
}

@media screen and (max-width:1023px) {
    .place__url-heading {
       max-width: 352px; 
   }
}