.place__website {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    grid-area: website;
    
}


@media screen and (max-width:1023px) {
    .place__website {
       max-width: 352px;
       font-size: 46px;
   }
}

@media screen and (max-width:767px) {
    .place__website {
       display:none;
   }
}